.App {
  text-align: center;
}
body{
  background-color: rgb(20, 48, 92);
 font-size: x-large;
 color: white;
 
}

.entrada {
  overflow: hidden;
  font-family: Helvetica, sans-serif;
  white-space: nowrap;
  font-size: 3.4em;
  color: #f13b3b;
  
  border-right: 2px solid rgba(0, 0, 0, 0.87);
  animation: animacionIntro 4.8s infinite alternate steps(22),
    animacionBar 1s step-end infinite;
}

@keyframes animacionIntro {
  0% {
    width: 0;
  }
  100% {
    width:100%;
  }
}

@keyframes animacionBar {
  0%,
  100% {
    border-color: rgba(19, 238, 52, 0);
  }
  50% {
    border-color: rgba(241, 59, 59, 0.87);
  }
}



.targetPrincipal{
  margin-top:8%;
  height:85vh;
  text-align: center;
  padding: 1%;
  display: flex;
  border-bottom-right-radius:20% ;
  background-color: rgb(37, 49, 66);
  /* background-image:url(https://fondosmil.com/fondo/52594.jpg) ;
  justify-content: center; */
  color: white;
}

.Subtitule{
 
  color: rgb(255, 255, 255);
  font-size:50px;
  border-bottom: 2px solid yellowgreen;

  
}


.img{
  width:50%;
  height: 70%;
  border-radius:0 10% 0 10% ;
  box-shadow: 20px 20px 8px 5px rgba(0, 0, 0, 0.496);


 }
.presentacion{
  width:50%;
  font-size:x-large;
}
.name{
  color: yellowgreen;
  font-size:200%;
}

.sobreM{
  display:inline-block;
  width: 60%;
  
}

ul{
  display: flex;
  list-style: none;
}
.liImg{
  width:50%;
}

.contenProyects{
display: flex;
flex-wrap: wrap;

justify-content: space-around;

}

.targetProyect{
  background-color: rgb(133, 199, 187);
  max-width: 300px ;
  text-align: center;
  padding: 1%;
  border-radius: 15px;
  
}
.targetProyect:hover{
  /* background-color:rgb(83, 188, 169) ; */
  background-color: rgb(96, 224, 64);
  transition: background-color .9s;
  /* transform: translateX(-1px) rotate(-10deg) translateY(10px); */
  transform: scale(1.1)
  
}

.imgProyect{
  width: 80%;
  cursor:pointer;
}

/* contacto ////////////////////////// */
.targetContacto{
  position: relative;
}
.contenContacto{
  background-color: white;
  width:30% ;
  min-height:200px ;
  color:black
}