.App {
  text-align: center;
}
body{
  background-color: rgb(20, 48, 92);
 
}



.targetPrincipal{
  margin-top:8%;
  height:85vh;
  text-align: center;
  padding: 1%;
  display: flex;
  border-bottom-right-radius:20% ;
  background-color: rgb(37, 49, 66);
  color: white;
}

.Subtitule{
 
  color: rgb(255, 255, 255);
  font-size:50px;
  border-bottom: 2px solid yellowgreen;

  
}


.img{
  width:100%;
  border-radius:0 10% 0 10%;
 }
.presentacion{
  width:50%;
  font-size:xx-large;
}
.name{
  color: yellowgreen;
  font-size:80px;
}

.sobreM{
  display:inline-block;
  width: 60%;
  
}

ul{
  display: flex;
  list-style: none;
}
.liImg{
  width:50%;
}

.contenProyects{
display: flex;
flex-wrap: wrap;

justify-content: space-around;

}

.targetProyect{
  background-color: rgb(133, 199, 187);
  max-width: 300px ;
  text-align: center;
  padding: 1%;
  border-radius: 15px;
}
.targetProyect:hover{
  background-color:rgb(83, 188, 169) ;
}

.imgProyect{
  width: 80%;
}
